.container {
  background-image: url(/Assets/Images/BG.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.form {
  background-image: url(/Assets//Images/Base.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 49rem;
  height: 33rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.form-header {
  text-transform: uppercase;
  font-size: 2.9rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: 14rem;
  font-family: "RajdhaniBold";
  text-shadow: 0.1rem 0.2rem #6c4c2e;
  -webkit-text-stroke: 0.1rem #6c4c2e;
}

.form-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
   align-items: center;
}
.password,
.confirm-password {
  width: 28rem;
  margin: 0.4rem;
  padding: 1.5rem;
  padding-left: 3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 1.4rem;
  background-color: #eee9e5;
  font-family: "Rajdhanimedium";
}
.submit-button{
  background-image: url(/Assets/Images/Submit_Button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin: 1.5rem;
  width: 22rem;
  height: 5rem;
  font-size: 2rem;
  border: none;
  font-weight: 900;
  /* font-family: "RajdhaniBold"; */
  background-color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 0.1rem #6c4c2e;
  -webkit-text-fill-color: white;
  
  
}

@media screen and (max-width:1300px) and (min-width:1200px){
  .form{
    width:43rem;
  height: 32rem;
  }
  .form-header {
    top: 1rem;
    left: 10.5rem;
    font-size: 2.8rem;
}
.form-body {
  margin-top: 5rem;
  
}
.password,
.confirm-password {
  width: 26rem;
  margin: 0.4rem;
  padding: 1.5rem;
  padding-left: 3rem;
  border-radius: 1rem;
  
}
.submit-button{
  
  margin: 1rem;
  width: 19rem;
  height: 5rem;
  font-size: 1.9rem;
  
}
}
@media screen and (max-width:1200px) and (min-width:1000px){
  .form{
    width:39rem;
  height: 30rem;
  }
  .form-header {
    top: 1rem;
    left: 9.5rem;
    font-size: 2.7rem;
}
.form-body {
  margin-top: 5rem;
  
}
.password,
.confirm-password {
  width: 24rem;
  margin: 0.4rem;
  padding: 1.4rem;
  padding-left: 3rem;
  border-radius: 1rem;
  
}
.submit-button{
  margin: 1rem;
  width: 18rem;
  height: 4.5rem;
  font-size: 1.8rem;
  
}
}
@media screen and (max-width:1000px) and (min-width:900px){
  .form{
    width:36rem;
  height: 28rem;
  }
  .form-header {
    top: 0.9rem;
    left: 8.5rem;
    font-size: 2.6rem;
}
.form-body {
  margin-top: 4.9rem;
  
}
.password,
.confirm-password {
  width: 22rem;
  margin: 0.4rem;
  padding: 1.3rem;
  padding-left: 2.5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  
}
.submit-button{
  margin: 0.9rem;
  width: 17rem;
  height: 4rem;
  font-size: 1.8rem;
  
}
}
@media screen and (max-width:900px) and (min-width:800px){
  .form{
    width:34rem;
  height: 26rem;
  }
  .form-header {
    top: 0.8rem;
    left: 7.9rem;
    font-size: 2.4rem;
}
.form-body {
  margin-top: 4.8rem;
  
}
.password,
.confirm-password {
  width: 21rem;
  margin: 0.4rem;
  padding: 1.2rem;
  padding-left: 2rem;
  border-radius: 0.9rem;
  font-size: 1.1rem;
  
}
.submit-button{
  margin: 0.8rem;
  width: 16rem;
  height: 3.8rem;
  font-size: 1.7rem;
  
}
}
@media screen and (max-width:800px) and (min-width:600px){
  .form{
    width:30rem;
  height: 24rem;
  }
  .form-header {
    top: 0.7rem;
    left: 7rem;
    font-size: 2.2rem;
}
.form-body {
  margin-top: 4.6rem;
  
}
.password,
.confirm-password {
  width: 20rem;
  margin: 0.3rem;
  padding: 1.1rem;
  padding-left: 2rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  
}
.submit-button{
  margin: 0.6rem;
  width: 15rem;
  height: 3.7rem;
  font-size: 1.6rem;
  
}
}
 
@media screen and (max-width:600px) and (min-width:550px){
  .form{
    width:24rem;
  height: 22rem;
  }
  .form-header {
    top: 0.6rem;
    left: 5rem;
    font-size: 2.1rem;
}
.form-body {
  margin-top: 4rem;
  
}
.password,
.confirm-password {
  width: 14rem;
  margin: 0.3rem;
  padding: 1rem;
  padding-left: 1.8rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  
}
.submit-button{
  margin: 0.5rem;
  width: 10rem;
  height: 3.2rem;
  font-size: 1.5rem;
  
}
}
@media screen and (max-width:550px) and (min-width:450px){
  .form{
    width:21rem;
  height: 18rem;
  }
  .form-header {
    top: 0.5rem;
    left: 4.2rem;
    font-size: 1.8rem;
}
.form-body {
  margin-top: 2.8rem;
  
}
.password,
.confirm-password {
  width: 12rem;
  margin: 0.3rem;
  padding: 0.9rem;
  padding-left: 1.7rem;
  border-radius: 0.7rem;
  font-size: 0.9rem;
  
}
.submit-button{
  margin: 0.3rem;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  
}
}
@media screen and (max-width:450px) and (min-width:350px){
  .form{
    width:17rem;
  height: 15rem;
  }
  .form-header {
    top: 0.4rem;
    left: 3.2rem;
    font-size: 1.5rem;
}
.form-body {
  margin-top: 2rem;
  
}
.password,
.confirm-password {
  width: 9rem;
  margin: 0.2rem;
  padding: 0.8rem;
  padding-left: 1.5rem;
  border-radius: 0.7rem;
  font-size: 0.8rem;
  
}
.submit-button{
  margin: 0.1rem;
  width: 7rem;
  height: 1.7rem;
  font-size: 0.9rem;
  
}
}
@media screen and (max-width:350px) {
  .form{
    width:15rem;
  height: 12rem;
  }
  .form-header {
    top: 0.3rem;
    left: 3rem;
    font-size: 1.2rem;
}
.form-body {
  margin-top: 1.9rem;
  
}
.password,
.confirm-password {
  width: 7.5rem;
  margin: 0.2rem;
  padding: 0.5rem;
  padding-left: 1.2rem;
  border-radius: 0.6rem;
  font-size: 0.6rem;
  
}
.submit-button{
  margin: 0.1rem;
  width: 5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  
}
}
 



 


 

 


 


 

 

 


 

 