.container-bg {
  background-image: url(/Assets/Images/BG.png);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.popupPanel {
  width: 32rem;
}
.box {
  text-align: center;
  font-size: 1.4rem;
  color: white;
  position: absolute;
  font-family: "Rajdhanimedium";
}
@media screen and (max-width: 2000px)  and (min-width:1537px){
  .popupPanel {
    width:50rem;
  }
  .box {
    font-size: 2rem;
  }
}
@media screen and (max-width:1040px) and (min-width: 800px) {
  .popupPanel {
    width:30rem;
  }
  .box {
    font-size: 1.2rem;
  }
}
@media screen and (max-width:800px) and (min-width: 700px) {
  .popupPanel {
    width:26rem;
  }
  .box {
    font-size: 1rem;
  }
}
@media screen and (max-width:700px) and (min-width: 400px) {
  .popupPanel {
    width:20rem;
  }
  .box {
    font-size: 0.8rem;
  }
}
@media screen and (max-width:400px) and (min-width: 300px) {
  .popupPanel {
    width:15rem;
  }
  .box {
    font-size: 0.7rem;
  }
}
@media screen and (max-width:300px) and (min-width: 200px) {
  .popupPanel {
    width:10rem;
  }
  .box {
    font-size: 0.4rem;
  }
}
